# Ignore Eclipse files
.buildpath
.project
.settings/

# Ignore most .htaccess files
.htaccess

# Ignore cache files
ubergallery/cache/*
!ubergallery/cache/.htaccess

# Ignore all log files
ubergallery/log.txt
*.log

# Ignore all images
ubergallery/images/*.jpg
ubergallery/images/*.png
ubergallery/images/*.gif
ubergallery/images/*.jpeg

# Do not ignore any .gitignore files
!.gitignore