# Ignore Eclipse files
.buildpath
.project
.settings/

# Ignore most .htaccess files
.htaccess
!ck-gallery/.cache/.htaccess

# Ignore all log files
*.log

# Ignore cache files
ck-gallery/.cache/*.html

# Ignore all images
*.jpg
*.png
*.gif
*.jpeg